@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: 'Roboto',sans-serif;
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    width: 100px;
    margin-left: 15px;
}
.header i{
    padding:0px 7px;
    cursor: pointer;
}
.header_search{
    display: flex;
    align-items: center;
}
.header_search form{
    border: 1px solid #ddd;
    display: flex;
    height:35px;
    margin: 0;
    padding: 0;
}
.header_search input{
    width: 700px;
    margin: 0;
    padding: 10px;
    border-radius:0;
    border: none;
    
}
.header_search button{
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}
.mic{
    margin-top: 10px;
}
/* main body */
.mainbody{
    display: flex;
    
    height: calc(100vh-70px);

}
.sidebar{
    height: 200px;
    width: 150px;
    background-color:white;
    
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 15px;
    
}
.sidebar_category{
    padding:15px;
    align-items: center;
    display:flex;

}
.sidebar_category:hover{
    background-color:rgb(233, 227, 227);
    cursor: pointer;
}
.sidebar_horizontal hr{
    background-color:rgb(218, 213, 213);
    border: none;
    height: 2px;

}
.sidebar_category span{
    margin-left: 10px;
}
.you_sidebar{
    margin-top: 20px;
    margin-left: 20px;
}
.you_sidebar_list{
    margin-bottom: 30px;
}
.videotop_section{
    display:flex;
    overflow: hidden;
    margin-top: 1rem;
    margin-left: 120px;
    
}
.videocat{
    border: 1px solid#ccc;
    margin-left: 40px;
    word-wrap:wrap;
    cursor: pointer;
    border-radius: 900px;
    background-color:whitesmoke;
    font-size:15px;
    padding: 5px;
    
}
.videocat:hover{
    background-color: lightgrey;
}

.video_section{
    background-color:white;
    width: 100%;
    height: 100%;
    padding: 15px 25px;
    overflow-y: scroll;
    margin-top: 50px;
    
}
.video_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.video{
    width:350px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.author img{
    object-fit: cover;
    border-radius:50% ;
    height:40px ;
    width:40px ;
    margin-right: 10px;
}
.video_thumbnail{
    width:100%;
    height: 178px;
}
.video_details{
    display: flex;
    margin-top: 30px;
}









